

//== Colors
//
//## Main colors

$color-navy:                #071D49;
$color-gray:                #707070;


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.
// @import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700,800,900');

$font-family-primary:       "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-secondary:     "Palatino LT Std", Palatino, Georgia, "Times New Roman", Times, serif;
$font-family-base:          $font-family-primary;
$font-color-base:           $color-gray;
$font-color-secondary:      $color-navy;


$base: 1rem;
$spacer: .875rem;