<div class="carousel" id="{{id}}" style="display: none;">
  {{#each items }}
    <a class="carousel__item" href="#">
      <img src="{{@root.assets.static}}/carousel-placeholder.png$staticlink$">
      <div class="carousel__description">Loading...</div>
    </a>
  {{/each}}
</div>