<!DOCTYPE html>
<html lang="{{@root.site.lang}}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="favicon.ico">
  <link href="https://staging-na01-petermillar.demandware.net/on/demandware.static/Sites-PM-Site/-/en_US/v1598279598659/css/global.css" rel="stylesheet">
  <link href="{{@root.assets.css}}" rel="stylesheet">
  <title>{{@root.site.title}}</title>
</head>
{{!-- Dependencies --}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<body>
  {{#block "body"}}
  {{/block}}
  <script type="text/javascript" src="{{@root.assets.js}}"></script>
</body>

</html>